<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="BusinessPortalWebPU" transaction-type="JTA">
    <jta-data-source>jdbc/remettences</jta-data-source>
    <class>com.remettence.commons.models.Account</class>
    <class>com.remettence.commons.models.AccountHasIpAddress</class>
    <class>com.remettence.commons.models.Address</class>
    <class>com.remettence.commons.models.AuditAction</class>
    <class>com.remettence.commons.models.Bank</class>
    <class>com.remettence.commons.models.City</class>
    <class>com.remettence.commons.models.Correspondent</class>
    <class>com.remettence.commons.models.Country</class>
    <class>com.remettence.commons.models.CountryTranslation</class>
    <class>com.remettence.commons.models.County</class>
    <class>com.remettence.commons.models.CountyHasCity</class>
    <class>com.remettence.commons.models.Currency</class>
    <class>com.remettence.commons.models.DeliveryForm</class>
    <class>com.remettence.commons.models.Document</class>
    <class>com.remettence.commons.models.Enterprise</class>
    <class>com.remettence.commons.models.EnterpriseHasTinType</class>
    <class>com.remettence.commons.models.Event</class>
    <class>com.remettence.commons.models.ExchangeRate</class>
    <class>com.remettence.commons.models.IpAddress</class>
    <class>com.remettence.commons.models.IpBlackList</class>
    <class>com.remettence.commons.models.Language</class>
    <class>com.remettence.commons.models.ParameterType</class>
    <class>com.remettence.commons.models.PaymentMethod</class>
    <class>com.remettence.commons.models.PaymentNetwork</class>
    <class>com.remettence.commons.models.PaymentNetworkType</class>
    <class>com.remettence.commons.models.PaymentType</class>
    <class>com.remettence.commons.models.Period</class>
    <class>com.remettence.commons.models.Permission</class>
    <class>com.remettence.commons.models.PermissionData</class>
    <class>com.remettence.commons.models.PermissionGroup</class>
    <class>com.remettence.commons.models.PermissionGroupData</class>
    <class>com.remettence.commons.models.PermissionHasProfile</class>
    <class>com.remettence.commons.models.Person</class>
    <class>com.remettence.commons.models.Preference</class>
    <class>com.remettence.commons.models.PreferenceField</class>
    <class>com.remettence.commons.models.PreferenceType</class>
    <class>com.remettence.commons.models.PreferenceValue</class>
    <class>com.remettence.commons.models.Profile</class>
    <class>com.remettence.commons.models.ProfileData</class>
    <class>com.remettence.commons.models.RatePaymentNetwork</class>
    <class>com.remettence.commons.models.Receiver</class>
    <class>com.remettence.commons.models.Remittance</class>
    <class>com.remettence.commons.models.RemittentHasReceiver</class>
    <class>com.remettence.commons.models.RemittanceHasRemittenceStatus</class>
    <class>com.remettence.commons.models.RemittanceStatus</class>
    <class>com.remettence.commons.models.Remittent</class>
    <class>com.remettence.commons.models.Report</class>
    <class>com.remettence.commons.models.ReportHasProfile</class>
    <class>com.remettence.commons.models.ReportParameter</class>
    <class>com.remettence.commons.models.ReportType</class>
    <class>com.remettence.commons.models.SMS</class>
    <class>com.remettence.commons.models.SalePrice</class>
    <class>com.remettence.commons.models.SalePriceHistory</class>
    <class>com.remettence.commons.models.SaleType</class>
    <class>com.remettence.commons.models.ServiceType</class>  
    <class>com.remettence.commons.models.State</class>
    <class>com.remettence.commons.models.Store</class>
    <class>com.remettence.commons.models.StoreBalance</class>
    <class>com.remettence.commons.models.StoreBalanceHistory</class>
    <class>com.remettence.commons.models.StoreSetting</class>
    <class>com.remettence.commons.models.TinType</class>
    <class>com.remettence.commons.models.User</class>
    <class>com.remettence.commons.models.UserHasProfile</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.schema-generation.database.action" value="create"/>
    </properties>
  </persistence-unit>
</persistence>
